{% extends 'cars/base.html' %}

{% block content %}
  <!-- Main Content -->
  <div class="container mt-4">
    <!-- Car Categories -->
      <h2 class="mt-4">{{ object.title }} Detail</h2>
      <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="{{ object.image.url }}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text"><strong>Company:</strong> {{ object.company }}</p>
                <p class="card-text"><strong>Category:</strong> {{ object.category }}</p>
                <p class="card-text"><strong>Launch Date:</strong> {{ object.launch_date }}</p>
                <p class="card-text"><strong>Price($):</strong> {{ object.price }}</p>
              </div>
            </div>
          </div>
      </div>
      <hr>
  </div>
{% endblock %}
