{% extends 'cars/base.html' %}

{% block content %}
  <!-- Main Content -->
  <div class="container mt-4">
    <h2 class="text-center mb-4">Explore Our Top Cars</h2>

    <!-- Car Categories -->
    {% for category, cars in cars_by_category.items %}
      <h2 class="mt-4">{{ category }} Cars</h2>

      <div class="row">
        {% for car in cars %}
          <div class="col-md-4">
            <div class="card">
              <img src="{{ car.image.url }}" class="card-img-top" />
              <div class="card-body">
                <h5 class="card-title">{{ car.title }}</h5>
                <p class="card-text"><strong>Company:</strong> {{ car.company }}</p>
                <p class="card-text"><strong>Category:</strong> {{ car.category }}</p>
                <p class="card-text"><strong>Launch Date:</strong> {{ car.launch_date }}</p>
                <p class="card-text"><strong>Price($):</strong> {{ car.price }}</p>
                <a href="{% url 'cars-detail' car.pk %}" class="btn btn-outline-primary btn-sm">Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <hr>
      <div class="text-end">
        <a href="#" class="btn btn-info mb-3" >See More</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
